



<div class="container" *ngIf=" monstreJoueur || monstreAdverse">

		<div class="row h-100 align-items-center">
			<img id="toastyJordan" style="position:absolute;left:-100vw;bottom:-21vh;z-index:1" src="assets/img/BJ.png"/>
			<audio id="toastyAudio">
				<source src='http://soundfxcenter.com/video-games/mortal-kombat-3-trilogy/8d82b5_Mortal_Kombat_3_Toasty_Sound_Effect.mp3' type="audio/mpeg"/>
			</audio>
		
            <div class="col" 
              id="sceneCombat" 
              style="margin:0 auto; border:black 2px solid;background-color:#eaeaea">
				<div class="row">

					<!-- stat adverse -->
					<div id="blocAdv" class="font-mine" style="width:100%;padding:10px">
						<div class="row no-gutters">
							<div class="col text-right">
                                <h4 id="nomAdv">{{monstreAdverse.espece}}</h4>
                            </div>
						</div>

						<div class="row no-gutters">
							<div class="col text-right">
                                <h5 id="lvlAdv">niv: {{monstreAdverse.level}}</h5>
                            </div>
						</div>

                        <div class="progress float-right text-right" 
                          style="width:40%;border:black 2px solid;">
							<div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" 
								role="progressbar"
								[style.width]="ratioPvAdv"
								aria-valuemin = "0"
								[attr.aria-valuenow] = "monstreAdverse.pv"
								[attr.aria-valuemax] = "monstreAdverse.pvMax">
								{{ratioPvAdv}}
							</div>
						</div>
					</div>

				</div>

				<div class="row justify-content-end">
					<img 
						id="imgAdv" 
						[src]="'assets/img/monsters/'+monstreAdverse.espece+'.gif'"
						height="150" 
						/>
				</div>

				<div class="row">
					<img 
						id="imgPlay" 
						[src]="'assets/img/monsters/'+monstreJoueur.espece+'.gif'" 
						height = "150px"
						style="transform: scaleX(-1)"/>
				</div>

				<div class="row border-black" 
				  id="encartMsg"  
				  style="min-height:20px;border-radius:5px;margin: 5 10px 0 10px; box-shadow: 2px 2px">
					<div class="font-mine" 
					  id="encartMsgPlace" 
					  style="margin-left:20px;"><p>{{msg}}</p>
					</div>
				</div>

				<div class="row">
					<!--  nos stat + actions -->
					
					<div id="menu_actions"  class="font-mine w-100" style="padding:10px">
						<h4 id="nomAttaquant">{{monstreJoueur.espece}}</h4>
						<h5 id="lvlAttaquant">niv: {{monstreJoueur.level}}</h5>
						<div class="row align-items-center" style="margin-left:20px;">
							<div class="progress" style="width:40%; border:black solid 2px">
								<div class="progress-bar" 
									  role="progressbar" 
									  id="progressPlayMon"
									  [style.width]="ratioPvPlay"
									  aria-valuemin = "0"
									  [attr.aria-valuenow] = "monstreJoueur.pv"
									  [attr.aria-valuemax] = "monstreJoueur.pvMax">
									  >
									  {{ratioPvPlay}}
								</div>
								
							</div>
							<span id="xp" style="margin-left:10px;">exp: {{monstreJoueur.exp}}/{{monstreJoueur.expNextLevel}}</span>
							<br>
                            <button class="btn" (click)="switchBool =!switchBool">switch</button>

                            <button *ngIf ="player.idScene != 3" 
                              id="btnCapture" 
                              class="btn btn-link text-dark" 
                              (click)="capture()">
                                Capture	
                            </button>
                            
						</div>
					</div>
				</div>
            	<div class="row">
					<div class="col">
						<div *ngFor="let a of monstreJoueur.listAttaque" attaque [attaque]="a"></div>
					</div>
				</div>
				<div class="row w-100 h-100 blurry no-gutters" style="position:absolute;z-index:5;top:0;left:0;" *ngIf="switchBool" >
					<div class="col-6 mx-auto">
						<div class="list-group" style="margin-top:50%;margin-bottom:50%">
							<div class="list-group-item" *ngFor="let m of player.equipePlayer" (click)="switch(m);switchBool =!switchBool">
								<div class="row">
									<div class="col">
										{{m.espece}}
									</div>
									<div class="col">
										{{m.exp}}
									</div>
									<div class="col">
										{{m.level}}
									</div>
									<div class="col">
										{{m.pv}} / {{m.pvMax}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
</div>
