<div (keydown)="onKeyPress($event)" class="container p-0" style="width:400px;height:400px;z-index:0" [style.background] = "'url('+sceneData.background+')'">
    
   <avatar [y]="avatarPosY" [x]="avatarPosX"  style="position:absolute;"></avatar>
   <ng-container *ngIf="selectionTriggers.length > 0">
        <selection-monstre *ngFor="let a of selectionTriggers"
            [style]="{'top':a.pos[1]*40+'px','left':a.pos[0]*40+'px','position':'relative', 'z-index':1}" 
            [positionX] = "avatarPosX" 
            [positionY]="avatarPosY" 
            [interaction]="a">
        </selection-monstre>
   </ng-container> 
    <ng-container *ngIf="trainersTriggers.length > 0">
        <npc *ngFor="let a of trainersTriggers" [trainer] = a [style]="{'width':'40px','height':'40px','top':a.pos[1]*40+'px','left':a.pos[0]*40+'px','position':'relative', 'z-index':2,'border':'red solid 2px'}"></npc>
    </ng-container>
</div>

